.hot-products {
    position: relative;
    width: 130rem;
    background-color: white;
    left: 50%;
    transform: translateX(-50%);
    padding: 3rem 0;
    border-bottom: .1rem solid rgb(182, 176, 176);
    h1 {
        font-size: 3rem;
        text-transform: uppercase;
        text-align: center;
    }
    .products {
        margin-top: 5rem;
        display: flex;
        width: 100%;
        margin-bottom: 3rem;
        .card-product {
            width: 20%;
            height: 100%;
            .product {
                position: relative;
                width: 24.6rem;
                left: 50%;
                transform: translateX(-50%);
                padding: .3rem;
                padding-bottom: 3rem;
                a {
                    text-decoration: none;
                    img {
                        width: 24rem;
                        &:hover {
                            transform: scale(1.01, 1.01);
                        }
                    }
                    li {
                        text-transform: uppercase;
                        list-style: none;
                        font-size: 2rem;
                        margin-left: 1rem;
                        margin-top: 2rem;
                    }
                }
                &:hover {
                    outline: .1rem solid rgb(194, 188, 188);
                }
            }
        }
    }
}