* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

/*...........................................................*/
.login-bar {
  line-height: 3rem;
  text-align: right;
  padding-right: 5rem;
  border-bottom: 0.1rem solid #cfc7c7;
}
.login-bar li {
  margin-right: 1rem;
  display: inline-block;
  font-size: 1.6rem;
}
.login-bar li a {
  text-decoration: none;
}
.login-bar li a:hover {
  color: red;
}
.login-bar li i {
  margin-right: 0.5rem;
}
.login-bar li:not(:last-child)::after {
  content: "";
  width: 0.1rem;
  height: 1rem;
  background-color: black;
  position: absolute;
  margin-top: 1rem;
  margin-left: 0.6rem;
}

.nav-bar {
  background-color: white;
}
.nav-bar--tag {
  display: inline-flex;
  width: 67%;
}
.nav-bar--tag > ul {
  margin-left: 20rem;
  line-height: 5rem;
}
.nav-bar--tag > ul > li {
  cursor: pointer;
  margin-left: 3rem;
  display: inline-block;
  font-size: 2rem;
}
.nav-bar--tag > ul > li a {
  text-decoration: none;
}
.nav-bar--tag > ul > li .dropdown {
  display: none;
  position: absolute;
  background-color: #d4e2e2;
  min-width: 12rem;
  z-index: 999;
}
.nav-bar--tag > ul > li .dropdown li {
  font-size: 1.6rem;
  list-style: none;
  cursor: pointer;
}
.nav-bar--tag > ul > li .dropdown li a {
  margin-left: 1rem;
  text-decoration: none;
}
.nav-bar--tag > ul > li .dropdown li:hover {
  background-color: aliceblue;
}
.nav-bar--tag > ul > li:hover .dropdown {
  display: block;
}
.nav-bar--tag .logo {
  height: 5rem;
}
.nav-bar--form {
  line-height: 5rem;
  float: right;
  width: 33%;
  text-align: right;
  font-size: 1.6rem;
}
.nav-bar--form .search {
  margin-right: 2rem;
  padding: 0.4rem;
  display: inline;
  border: 0.1rem solid black;
}
.nav-bar--form .search input {
  outline: none;
  border: none;
}
.nav-bar--form .search input:focus {
  width: 30rem;
}
.nav-bar--form .search > i {
  padding: 0.3rem;
  border-radius: 3rem;
  cursor: pointer;
}
.nav-bar--form .search > i:hover {
  background-color: yellow;
}
.nav-bar--form .cart {
  font-size: 2rem;
  cursor: pointer;
  padding: 0.8rem;
  margin-right: 5rem;
  background-color: #d2d6da;
  border-radius: 3rem;
}
.nav-bar--form .cart:hover {
  background-color: yellow;
}

.banner {
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.banner .slideshow {
  display: flex;
  width: 400%;
}
.banner .slideshow .slide {
  width: 25%;
  transition: all 0.6s;
}
.banner .slideshow .slide img {
  width: 100%;
}
.banner .slideshow input[name=dot] {
  display: none;
}
.banner .slideshow #dot-1:checked ~ .s1 {
  margin-left: 0;
}
.banner .slideshow #dot-2:checked ~ .s1 {
  margin-left: -25%;
}
.banner .slideshow #dot-3:checked ~ .s1 {
  margin-left: -50%;
}
.banner .slideshow #dot-4:checked ~ .s1 {
  margin-left: -75%;
}
.banner .navigation {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 1rem;
  display: flex;
}
.banner .navigation .bar {
  width: 1.5rem;
  height: 1.5rem;
  border: 0.1rem solid #0c0c0c;
  border-radius: 3rem;
  margin: 0.5rem;
  cursor: pointer;
}
.banner .navigation .bar:hover {
  border: 0.1rem solid red;
  background-color: white;
}

/*# sourceMappingURL=style.css.map */
